interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/records/13333034/files/andorra_invalid.zip
  response:
    body:
      string: "\n\n\n\n\n<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\">\n  <head>\n
        \   <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <meta name=\"google-site-verification\" content=\"5fPGCLllnWrvFxH9QWI0l1TadV7byeEvfPcyK2VkS_s\"/>\n
        \   <meta name=\"google-site-verification\" content=\"Rp5zp04IKW-s1IbpTOGB7Z6XY60oloZD5C3kTM-AiY4\"/>\n\n
        \   \n    \n    <meta name=\"generator\" content=\"InvenioRDM 14.0\"/>\n\n
        \   \n    \n    \n      <title>Page not found</title>\n      <link rel=\"shortcut
        icon\" type=\"image/x-icon\" href=\"/static/favicon.ico\"/>\n          <link
        rel=\"apple-touch-icon\" sizes=\"120x120\" href=\"/static/apple-touch-icon-120.png\"/>\n
        \         <link rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"/static/apple-touch-icon-152.png\"/>\n
        \         <link rel=\"apple-touch-icon\" sizes=\"167x167\" href=\"/static/apple-touch-icon-167.png\"/>\n
        \         <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/static/apple-touch-icon-180.png\"/>\n
        \     <link rel=\"stylesheet\" href=\"/static/dist/css/3526.c82d2078f608b8374912.css\"
        />\n      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements
        and media queries -->\n      <!--[if lt IE 9]>\n        <script src=\"https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js\"></script>\n
        \       <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\n
        \     <![endif]-->\n  </head>\n\n  <body data-invenio-config='{\"isMathJaxEnabled\":
        \"//cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.js?config=TeX-AMS-MML_HTMLorMML\"}'
        \ itemscope itemtype=\"http://schema.org/WebPage\" data-spy=\"scroll\" data-target=\".scrollspy-target\">\n
        \     <a id=\"skip-to-main\" class=\"ui button primary ml-5 mt-5 skip-link\"
        href=\"#main\">Skip to main</a>\n      <!--[if lt IE 8]>\n        <p class=\"browserupgrade\">You
        are using an <strong>outdated</strong> browser. Please <a href=\"http://browsehappy.com/\">upgrade
        your browser</a> to improve your experience.</p>\n      <![endif]-->\n    \n\n<div>\n
        \ <header class=\"theme header\">\n\n    <div class=\"outer-navbar\">\n      <div
        class=\"ui container invenio-header-container\">\n        <nav id=\"invenio-nav\"
        class=\"ui inverted menu borderless p-0\">\n          <div class=\"item logo
        p-0\">\n                    <a class=\"logo-link\" href=\"/\">\n                      <img
        class=\"ui image rdm-logo\"\n                            src=\"/static/images/invenio-rdm.svg\"\n
        \                           alt=\"Zenodo home\"/>\n                    </a>\n
        \         </div>\n\n          <div id=\"rdm-burger-toggle\">\n            <button\n
        \             id=\"rdm-burger-menu-icon\"\n              class=\"ui button
        transparent\"\n              aria-label=\"Menu\"\n              aria-haspopup=\"menu\"\n
        \             aria-expanded=\"false\"\n              aria-controls=\"invenio-menu\"\n
        \           >\n              <span class=\"navicon\" aria-hidden=\"true\"></span>\n
        \           </button>\n          </div>\n\n          <nav\n            id=\"invenio-menu\"\n
        \           aria-labelledby=\"rdm-burger-menu-icon\"\n            class=\"ui
        fluid menu borderless mobile-hidden\"\n          >\n            <button\n
        \             id=\"rdm-close-burger-menu-icon\"\n              class=\"ui
        button transparent\"\n              aria-label=\"Close menu\"\n            >\n
        \             <span class=\"navicon\" aria-hidden=\"true\"></span>\n            </button>\n
        \   \n    \n    \n      <div class=\"item p-0 search-bar\">\n        <div
        id=\"header-search-bar\" data-options='[{\"key\": \"records\", \"text\": \"All
        Zenodo\", \"value\": \"/search\"}]'>\n          <div class=\"ui fluid search\">\n
        \           <div class=\"ui icon input\">\n              <input\n                autocomplete=\"off\"\n
        \               aria-label=\"Search records\"\n                placeholder=\"Search
        records...\"\n                type=\"text\"\n                tabindex=\"0\"\n
        \               class=\"prompt\"\n                value=\"\"\n              >\n
        \             <i aria-hidden=\"true\" class=\"search icon\"></i>\n            </div>\n
        \         </div>\n        </div>\n      </div>\n\n                  <div class=\"item\">\n
        \                   <a href=\"/communities\">Communities</a>\n                  </div>\n\n
        \             \n                <div class=\"item\">\n                  <a
        href=\"/me/uploads\">My dashboard</a>\n                </div>\n              \n
        \             <div class=\"right menu item\">\n    <form>\n      <a\n        href=\"/login/?next=/records/13333034/files/andorra_invalid.zip\"\n
        \       class=\"ui button auth-button\" aria-busy=\"false\" aria-live=\"polite\"
        aria-label=\"Log in\"\n      >\n        <i class=\"sign-in icon auth-icon\"
        aria-hidden=\"true\"></i>\n        Log in\n      </a>\n      \n        <a
        href=\"/signup/\" class=\"ui button signup\">\n          <i class=\"edit outline
        icon\"></i>\n          Sign up\n        </a>\n      \n    </form>\n              </div>\n
        \         </nav>\n        </nav>\n      </div>\n    </div>\n      \n      \n
        \   \n      \n    \n    \n  </header>\n</div>\n\n  <main id=\"main\">\n    <div
        class=\"invenio-page-body\">\n<div class=\"ui grid container error-page\">\n<div
        class=\"ui divider hidden\"></div>\n  <div class=\"row\">\n    <div class=\"column\">\n
        \     \n  <h1><i class=\"bolt icon\"></i> Page not found</h1>\n  <p>The page
        you are looking for could not be found.</p>\n\n    </div>\n  </div>\n</div>\n\n
        \   </div>\n  </main>\n    <footer id=\"rdm-footer-element\">\n        \n\n
        \ <div class=\"footer-top\">\n    <div class=\"ui container app-rdm-footer\">\n<div
        class=\"ui equal width stackable grid zenodo-footer\">\n  <div class=\"column\">\n
        \   <h2 class=\"ui inverted tiny header\">About</h2>\n    <ul class=\"ui inverted
        link list\">\n      <li class=\"item\">\n        <a href=\"https://about.zenodo.org\">About</a>\n
        \     </li>\n      <li class=\"item\">\n        <a href=\"https://about.zenodo.org/policies\">Policies</a>\n
        \     </li>\n      <li class=\"item\">\n        <a href=\"https://about.zenodo.org/infrastructure\">Infrastructure</a>\n
        \     </li>\n      <li class=\"item\">\n        <a href=\"https://about.zenodo.org/principles\">Principles</a>\n
        \     </li>\n      <li class=\"item\">\n        <a [...]
